name: Deploy via SFTP
  on:
    push:
      branches: [ "main" ]
  jobs:
    deploy:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
          with: { fetch-depth: 0 }
        - name: SFTP Deploy
          uses: wlixcc/SFTP-Deploy-Action@v1.2
          with:
            username:   ${{ secrets.SFTP_USER }}
            server:     ${{ secrets.SFTP_HOST }}
            port:       22
            password:   ${{ secrets.SFTP_PASS }}
            local_path: "./"
            remote_path: ${{ secrets.SFTP_PATH }}
            exclude: |
              .git*
              .github/*
              tests/*
              **/node_modules/**
  